@charset "utf-8";

:root {
	--blue: #2772FC;
	--darkblue: #1f60d8;
	--grey: #26243a;
	--lightgrey: #6C83AF;
	--divider: #D1DCF0;

	--green: #2ea44f;
	--red: #FF4452;
}

*{
	margin:0;
	padding:0;
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
	background: #F7F9FB;
	font-size: 1rem;
	color: var(--grey);
	font-family: 'Source Sans Pro', sans-serif;
	line-height: 1.4;
}

a {
	text-decoration: none;

}

h1, h2, h3, button {
	font-family: 'Source Code Pro', monospace;
	font-weight: 500;
}

h1 {
	color: var(--blue);
}

h2 {
	color: var(--grey);
}

p {
	color: var(--lightgrey);
}


#wrapper{
	background: #fff;
	width: 50%;
	margin: auto;
	position: relative;
	height: 100%;
}

#accent {
	background: var(--blue);
	width: 100%;
	height: 5px;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
}

.container {
	padding: 20px 20px;
}

.line {
	border-bottom: 1px solid var(--divider);
}

button, .button {
	border: none;
	color: #fff;
	box-shadow: none;
	background: var(--blue);
	font-weight: bold;
	padding: 15px 25px;
	border-radius: 3px;
	cursor: pointer;
	display: inline-block;
	margin: 10px 0 0 0;
	transition: .3s;
}

button:hover, .button:hover {
	background: #1f60d8;
	color: #fff;
}

.sec {
	background: #fff;
	border: 1px solid var(--divider);
	color: var(--lightgrey);
	width: 100%;
    text-align: center;
    padding: 5px;
}

input, select {
	border: 1px solid var(--divider);
	color: var(--grey);
	padding: 15px;
}

.combinedinput {
	display: flex;
	flex-direction: row;
	margin: 20px 0;
}

.combinedinput div {
	background: #e3e7f0;
	border: 1px solid var(--divider);
	line-height: 2.9;
	padding: 0 15px;
	font-weight: bold;
	color: var(--lightgrey);
}

input[type=radio] {
	visibility: hidden;
	display: none;
}

.genderlabel {
	padding: 10px;
	border-radius: 3px;
	border: 1px solid var(--lightgrey);
	height: 150px;
	width: 150px;
	background: #fff;
	display: inline-block;
	position: relative;
	margin-right: 10px;
	cursor: pointer;
}

.genderlabel-active {
	position: relative;
	border: 2px solid var(--blue);
	transition: 0.3s;
}

.genderlabel-active::after {
	position: absolute;
	right: -10px;
	top: -10px;
	height: 20px;
	width: 20px;
	border-radius: 100%;
	border: 2px solid #fff;
	background: var(--blue);
	content: "";
	transition: 0.3s;
}

.hint {
	padding: 20px;
	font-size: 1rem;
	border-radius: 3px;
	display: flex;
	display: -ms-flexbox;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 15px;
}

.overhint {
	position: fixed;
	z-index: 1;
	border-radius: 4px;
	background: #fff;
	color: var(--grey);
	border: 1px solid var(--divider);
	padding: 15px;
	margin: 15px 15px 30px 15px;
	bottom: 0;
	left: 0;
}

.hint > div:first-child {
	padding: 10px 30px 10px 10px;
	text-align: center;
	font-size: 3rem;
	border-right: 2px solid rgba(255, 255, 255, 0.5);
	margin-right: 30px;
}

.hint > div:last-child {
	font-size: 1.2rem;
	margin: auto 0;
	color: rgba(255, 255, 255, 0.7);
}

.hint > div:last-child strong {
	color: #fff;
}

.underweight {
	background: var(--red);
	color: #fff;
}

.optimum {
	background: var(--green);
	color: #fff;	
}






